$timp-animatie: 0.6s;
$culoare-hover-bg: #0872ab;
$bg-submeniu: #000000;
$bg-mobil: #000000;


@mixin tranzitie-optiuni($proprietate: all) {
    transition: $proprietate $timp-animatie ease-in-out;
}


%stil-reset-lista {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav {
    background-color: var(--culoare-fundal);
    position: relative;
    z-index: 1000;
    width: 100%;

    #hamburger {
        display: none;
        cursor: pointer;
        padding: 1rem;
        color: var(--culoare-text);
        font-size: 2rem;
    }

    #btn-menu {
        display: none;
    }

    ul {
        @extend %stil-reset-lista;

        li {
            position: relative;

            a {
                display: block;
                padding: 1rem 1.5rem;
                color: var(--culoare-text);
                text-decoration: none;
                position: relative;
                z-index: 1;
                @include tranzitie-optiuni(all);


                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    background-color: $culoare-hover-bg;

                    transform: translate(-50%, -50%) scale(0);
                    @include tranzitie-optiuni(transform);
                    z-index: -1;
                }

                &:hover::before {
                    transform: translate(-50%, -50%) scale(1);
                }
            }


            .submeniu {
                @extend %stil-reset-lista;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $bg-submeniu;
                min-width: 12rem;


                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
                transform-origin: 0 0;
                @include tranzitie-optiuni();
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

                li {
                    width: 100%;

                    a {
                        display: block;
                        padding: 0.8rem 1rem;
                        position: relative;
                        z-index: 1;
                        background-color: transparent; 
                        transition: background-color 1s cubic-bezier(0.4, 0, 0.2, 1), color 0.5s ease;

                        &::before {
                           display: none !important ;
                        }


                        &:hover {
                            background-color: var(--culoare-accent);
                            color: #fff;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }


            &:hover>.submeniu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}




@media screen and (max-width: 1000px) and (min-width: 701px) {
    nav ul li a span {
        display: none;
    }
}



@media screen and (max-width: 700px) {
    nav {
        position: relative;
        overflow: visible !important; 

        #hamburger {
            display: block !important;
            background-color: black;
            color: #fff;
            padding: 1rem;
            cursor: pointer;
            font-size: 1.5rem;
            z-index: 1001;
            position: relative;
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            opacity: 0;
            visibility: hidden;
            background-color: transparent !important; 
            overflow: visible !important; 
            transition: opacity 0.4s ease;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $bg-mobil;
                z-index: -1;
                clip-path: polygon(0% 0%, 0% 0%, 0% 50%, 0% 100%, 0% 100%);
                transition: clip-path 0.8s ease-in-out;
            }

            li {
                width: 100%;
                position: relative;

  
                a {
                    display: block;
                    padding: 1.2rem;
                    color: #fff;
                    text-align: center;
                    text-decoration: none;
                    position: relative;
                    z-index: 1;
                    @include tranzitie-optiuni(all);

   
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 100%;
                        background-color: $culoare-hover-bg;
                        transform: translate(-50%, -50%) scale(0);
                        @include tranzitie-optiuni(transform);
                        z-index: -1;
                    }

                    &:hover::before {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }

             
                .submeniu {
                    position: static; 
                    display: none;   
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.05); 
                    opacity: 1;
                    visibility: visible;
                    transform: none;
                    box-shadow: none;
                    

                    li {
                        a {
                            padding: 0.8rem 1rem;
                            font-size: 0.9rem;
                            border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
                            background-color: transparent;
                            transition: background-color 0.8s cubic-bezier(0.4, 0, 0.2, 1);
                            
                            &::before {
                                display: none !important;
                            }
                        }
                    }
                }

                
                &:hover > .submeniu {
                    display: block;
                }

                
                &:first-child a {
                    i { display: inline-block !important; font-size: 1.8rem; }
                    span { display: none; }
                }
                &:not(:first-child) a i { display: none !important; }
            }
        }


        #btn-menu:checked ~ ul {
            opacity: 1;
            visibility: visible;

            &::before {
                clip-path: polygon(0% 0%, 100% 0%, 150% 50%, 100% 100%, 0% 100%);
                transition: clip-path 1s cubic-bezier(0.5, 0, 0.5, 1);
            }
        }
    }
}