
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, ul, li, table, caption, tbody, tfoot, thead, tr, th, td,
article, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary, time {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


article, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



*, *::before, *::after {
    box-sizing: border-box; 
}

html {
    width: 100vw; 
    font-size: 16px;
}

body {
    min-height: 100vh;
    line-height: 1.5; 
}