<footer id="contact">
        <address>
            <strong>F1 Apex Gear HQ</strong><br>

            Telefon: <a href="tel:+40722000000">0722 000 000</a><br>

            Locație: <a
                href="https://www.google.com/maps/place/Politehnica+Business+Tower/@44.4340857,26.0382199,17z/data=!3m1!4b1!4m6!3m5!1s0x40b201f609995a6f:0x8a7b024778b7d337!8m2!3d44.4340819!4d26.0407948!16s%2Fg%2F11h5lv2n9y?entry=ttu&g_ep=EgoyMDI2MDMwMi4wIKXMDSoASAFQAw%3D%3D"
                target="_blank">
                PB Tower
            </a><br>

            E-mail: <a href="mailto:contact@f1apexgear.ro">contact@f1apexgear.ro</a><br>

            Contact Rapid: <a href="https://wa.me/40722000000">Chat pe WhatsApp</a>
        </address>
        <!--task bonus cu iframe harta-->
        <div class="map-container" style="margin-top: 1.25rem;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5697.69392853581!2d26.0357828942383!3d44.43630131535379!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201f609995a6f%3A0x8a7b024778b7d337!2sPolitehnica%20Business%20Tower!5e0!3m2!1sro!2sro!4v1773833425261!5m2!1sro!2sro"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <hr>

        <p>
            <small>Copyright © 2026 F1 Apex Gear.
                Pagina creată la data de: <time datetime="2026-03-05">5 Martie 2026</time>.</small>
        </p>
        <a href="#" id="link-top">
            <div id="cerc-exterior">
                <div id="triunghi-gol">&#9651</div>
            </div>
            <span class="tooltip-text">Mergi sus</span>
        </a>

        <p id="banner-proiect">Acesta este un proiect școlar!</p>

    </footer>