<head> <!--task 2 4(favicon) si 3(cuvintele sunt in cod)-->
    <meta charset="UTF-8">
    <meta name="author" content="<%= autor %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= descriere %>">
    <meta name="keywords" content="F1, motorsport, echipamente, masini, curse, viteza, echipe, tricou, casca">
    <title><%= titlu %></title>
    <link rel="icon" type="image/png" href="/ico/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/ico/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/ico/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/ico/favicon/site.webmanifest" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
